/old/zip_to_pdf.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/misc.xml
/modules/irk_state.json
/modules/exact_deduper/exact_deduper_state.json
/modules/weedwhacker_state.json
